script(type='text/javascript' src="/lib/jquery/dist/jquery.js")
script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript' src="/lib/toastr/toastr.js")
script(type='text/javascript' src="/lib/angular/angular.js")
script(type='text/javascript' src="/lib/angular-resource/angular-resource.js")
script(type='text/javascript' src="/lib/angular-route/angular-route.js")
script(type='text/javascript' src="/app/app.js")
script(type='text/javascript' src="/app/main/MainController.js")
script(type='text/javascript' src="/app/account/LoginController.js")
script(type='text/javascript' src="/app/account/identity.js")
script(type='text/javascript' src="/app/account/auth.js")
script(type='text/javascript' src="/app/account/usersResource.js")
script(type='text/javascript' src="/app/account/SignUpController.js")
script(type='text/javascript' src="/app/account/ProfileController.js")
script(type='text/javascript' src="/app/admin/UsersListController.js")
script(type='text/javascript' src="/app/courses/CoursesController.js")
script(type='text/javascript' src="/app/courses/coursesResource.js")
script(type='text/javascript' src="/app/courses/cachedCourses.js")
script(type='text/javascript' src="/app/courses/CourseDetailsController.js")
script(type='text/javascript' src="/app/common/notifier.js")